
.ios,
.md {
    --white: #fff;
    // --primary: #0fc1a7;
    --primary: #FBA7AF;
    --bg-color: #f4f7f8;
    --transparent: rgba(0, 0, 0, 0);
    --text-light: #7c7c7c;
    --text-light2: #ababab;
    --text-dark: #4d4d4d;
    --text-black: #000;
    --input_field_bg: #f4f7f8;
    --red_color: #ff0000;
}

.bg_color {
    --background: var(--bg-color);
}

.d-flex {
    display: flex !important;
    align-items: center;
    width: 100%;
    .end {
        margin-left: auto !important;
        margin-right: 0 !important;
        display: block;
    }
}

.center_img {
    position: relative;
    overflow: hidden;
    img {
        &.crop_img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

ion-header {
    z-index: 999;
    &::after {
        display: none !important;
    }
    ion-toolbar {
        // --background: var(--white);
        --background: #FBA7AF;
        display: flex;
        align-items: center;
        min-height: 60px !important;
        height: auto;
        overflow: visible !important;
        --border-width: 0 !important;
        ion-buttons {
            position: relative !important;
            margin: 0;
            --padding-end: 0 !important;
            --padding-start: 0 !important;
            --color: var(--text-black) !important;
            .button-inner {
                ion-icon {
                    //font-size: 1.5rem;
                    padding-left: 00px;
                    color: var(--text-black);
                }
            }
            ion-back-button {
                --color: var(--text-black) !important;
                color: var(--text-black) !important;
            }
            ion-menu-button {
                --color: var(--text-black) !important;
                //--padding-start: 0 !important;
                --padding-end: 0 !important;
                font-size: 1.8rem !important;
                &.ios {
                    font-size: 2rem !important;
                }
            }
            ion-back-button {
                .button-native {
                    padding: 0 !important;
                }
            }
            &.ios {
                padding: 0 10px !important;
            }
        }
        ion-title {
            color: var(--text-black);
            text-align: justify;
            font-size: 1.1rem;
            font-weight: 500;
            overflow: visible !important;
            line-height: 60px;
            position: absolute !important;
            left: 0;
            top: -2px;
            width: 100%;
            text-align: center;
            padding: 0 15px !important;
        }
    }
    &.bg_transparent {
        //position: absolute;
        z-index: 999;
        width: 100%;
        height: auto;
        ion-toolbar {
            --background: transparent;
            --ion-color-base: transparent !important;
        }
    }
}

.scroll-x {
    overflow: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}

.animate__animated {
    --animate-duration: 0s;
    &:nth-child(1) {
        --animate-duration: 0.15s;
    }
    &:nth-child(2) {
        --animate-duration: 0.2s;
    }
    &:nth-child(3) {
        --animate-duration: 0.25s;
    }
    &:nth-child(4) {
        --animate-duration: 0.3s;
    }
    &:nth-child(5) {
        --animate-duration: 0.35s;
    }
    &:nth-child(6) {
        --animate-duration: 0.4s;
    }
    &:nth-child(7) {
        --animate-duration: 0.45s;
    }
    &:nth-child(8) {
        --animate-duration: 0.5s;
    }
    &:nth-child(9) {
        --animate-duration: 0.55s;
    }
    &:nth-child(10) {
        --animate-duration: 0.6s;
    }
    &:nth-child(11) {
        --animate-duration: 0.65s;
    }
    &:nth-child(12) {
        --animate-duration: 0.7s;
    }
    &:nth-child(13) {
        --animate-duration: 0.5s;
    }
    &:nth-child(14) {
        --animate-duration: 0.5s;
    }
    &:nth-child(15) {
        --animate-duration: 0.5s;
    }
}

ion-header {
    background: var(--white);
    ion-toolbar ion-title {
        padding: 0 15px !important;
        position: relative !important;
        top: 0;
        .title_inner {
            height: 60px;
            .location {
                overflow: hidden;
                position: relative;
                z-index: 999;
                color: var(--white);
                ion-icon {
                    font-size: 1.2rem !important;
                    vertical-align: middle;
                    //min-width: 17px;
                    // color: var(--primary);
                    color: var(--white);
                    //padding: 0 1px;
                }
                // h2 {
                //     margin: 0;
                //     overflow: hidden;
                    span {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 0.8rem;
                        font-weight: 500;
                        // color: var(--text-black);
                        letter-spacing: 0;
                        // display: block;
                        position: relative;
                        top: 2px;
                    }
                // }
            }
            h2 {
                margin-top: 8px;
                color: var(--white);
                font-size: 28px;
            }
            h3 {
                margin: 0 auto;
                text-align: center;
                font-size: 1.1rem;
                font-weight: 500;
                position: absolute;
                left: 0;
                right: 0;
            }
            span {
                &.cart_icon {
                    position: relative;
                    min-width: 27px;
                    color: var(--white);
                    ion-badge {
                        background: var(--red_color);
                        --background: var(--transparent);
                        --color: var(--white);
                        --padding-bottom: 0;
                        --padding-end: 0;
                        --padding-start: 0;
                        --padding-top: 0;
                        border-radius: 50%;
                        width: 15px;
                        height: 15px;
                        display: block;
                        position: absolute;
                        top: 7px;
                        font-size: 0.7rem;
                        line-height: 16px;
                        right: -5px;
                    }
                    ion-icon {
                        position: relative;
                        top: 5px;
                        font-size: 1.35rem;
                    }
                }
            }
        }
    }
    .banner {
        position: relative;
        padding: 60px 0px 0px 0px;
        .banner1_img {
            position: relative;
        }
        .banner_text1 {
            position: absolute;
            left: 2rem;
            padding-bottom: 20px;
            width: 180px;
            text-align: left;
            span{
                color: var(--text-dark);
                font-weight: 500;
                font-size: 16px;
            }
            h3 {
                margin: 0;
                color: var(--text-light2);
                font-weight: 400;
                font-size: 1rem;
                letter-spacing: 0.5px;
                padding-bottom: 4px;
            }
            h2 {
                margin: 0;
                color: var(--text-black);
                font-weight: 600;
                font-size: 1.4rem;
            }
        }
        .banner2_img {
            position: relative;
        }
        .banner_text2 {
            position: absolute;
            left: 2rem;
            padding-bottom: 20px;
            width: 180px;
            text-align: left;
            span{
                color: var(--text-dark);
                font-weight: 500;
                font-size: 16px;
            }
        }
        .banner3_img {
            position: relative;
        }
        .banner_text3 {
            position: absolute;
            left: 2rem;
            padding-bottom: 20px;
            width: 180px;
            text-align: left;
            span{
                color: var(--text-dark);
                font-weight: 500;
                font-size: 16px;
            }
        }
        .search_box {
            position: absolute;
            bottom: -20px;
            left: 15px;
            background: var(--white);
            width: calc(100% - 30px);
            border-radius: 10px;
            padding: 5px 13px;
            min-height: 50px;
            z-index: 999;
            ion-icon {
                color: var(--text-light);
                font-size: 1.2rem;
                margin-right: 13px;
                font-weight: 600;
            }
            h2 {
                margin: 0;
                color: var(--text-light2);
                font-size: 0.95rem;
                font-weight: 300;
                letter-spacing: 0.3px;
            }
        }
    }
}


.swiper-pagination-fraction {
	bottom: 35px;
	left: 0;
	width: 100%;
}
ion-content {
    .content{
        padding-top: 1.5rem;
        ion-grid {
            --ion-grid-width: 100%;
            --ion-grid-width-xs: 100%;
            --ion-grid-width-sm: 288px;
            --ion-grid-width-md: 384px;
            --ion-grid-width-lg: 480px;
            --ion-grid-width-xl: 570px;
            ion-col {
                .category {
                    width: 100%;
                    height: auto;
                    border-radius: 10px;
                }
            }
        }
    }
    
}
.shop_by_category {
    padding-bottom: 15px;
    padding-top: 50px;
    h2 {
        margin: 0;
        color: var(--text-light2);
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.5px;
        padding-bottom: 4px;
        padding: 15px;
        span {
            color: var(--primary);
            font-weight: 500;
            font-size: 0.9rem;
            min-width: fit-content;
            letter-spacing: 0;
        }
    }
    .scroll-x {
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        .category {
            display: inline-block;
            margin: 0 3.5px;
            .category_img {
                width: 100px;
                height: 127px;
                border-radius: 11px;
            }
            &:first-child {
                margin-left: 15px;
            }
            &:last-child {
                margin-right: 15px;
            }
        }
    }
}

.offres {
    padding-bottom: 15px;
    h2 {
        margin: 0;
        color: var(--text-light2);
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.5px;
        padding-bottom: 4px;
        padding: 15px;
        span {
            color: var(--primary);
            font-weight: 500;
            font-size: 0.9rem;
            min-width: fit-content;
            letter-spacing: 0;
        }
    }
    .scroll-x {
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        .offer {
            display: inline-block;
            margin: 0 3.5px;
            width: 250px;
            height: 108px;
            border-radius: 5px;
            &:first-child {
                margin-left: 15px;
            }
            &:last-child {
                margin-right: 15px;
            }
        }
    }
}

ion-list {
    margin: 0;
    background: none;
    padding: 0px 0 0px 0;
    h2 {
        margin: 0;
        color: var(--text-light2);
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.5px;
        padding-bottom: 4px;
        padding: 15px;
    }
    .scroll_container {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
        display: flex;
        align-items: flex-start;
        &::-webkit-scrollbar {
            display: none;
        }
        .list_inner {
            display: inline-block;
            margin: 0 12px;
            min-width: 250px;
            &:first-child {
                margin-left: 15px;
            }
            &:last-child {
                margin-right: 15px;
            }
        }
    }
    ion-item {
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent) !important;
        background: var(--white);
        margin-bottom: 20px;
        max-width: 250px;
        .item_inner {
            align-items: flex-start !important;
            .img_box {
                min-width: 57px;
                height: 57px;
                margin-right: 12px;
                border-radius: 13px;
            }
            .text_box {
                width: 100%;
                white-space: normal;
                h3 {
                    margin: 0;
                    font-size: 0.95rem;
                    color: var(--text-dark);
                    padding-bottom: 8px;
                    padding-top: 3px;
                    font-weight: 600;
                }
                h4 {
                    margin: 0;
                    color: var(--text-light);
                    font-size: 0.7rem;
                    font-weight: 400;
                    margin-bottom: 9px;
                    letter-spacing: 0.3px;
                    overflow: hidden;
                    align-items: flex-start;
                    span {
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                    ion-icon {
                        min-width: 12px;
                        padding: 0 2px;
                        font-size: 0.8rem;
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }
    }
}