.ios,
.md {
    --white: #fff;
    --primary: #0fc1a7;
    --bg-color: #f4f7f8;
    --transparent: rgba(0, 0, 0, 0);
    --text-light: #7c7c7c;
    --text-light2: #ababab;
    --text-dark: #4d4d4d;
    --text-black: #000;
    --input_field_bg: #f4f7f8;
    --red_color: #ff0000;
    --yelow_color: #ffba00;
}

.bg_color {
    --background: var(--bg-color);
}

.d-flex {
    display: flex !important;
    align-items: center;
    width: 100%;
    .end {
        margin-left: auto !important;
        margin-right: 0 !important;
        display: block;
    }
}

.center_img {
    position: relative;
    overflow: hidden;
    img {
        &.crop_img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

ion-header {
    z-index: 999;
    &::after {
        display: none !important;
    }
    ion-toolbar {
        --background: var(--white);
        display: flex;
        align-items: center;
        min-height: 60px !important;
        height: auto;
        overflow: visible !important;
        --border-width: 0 !important;
        ion-buttons {
            position: relative !important;
            margin: 0;
            --padding-end: 0 !important;
            --padding-start: 0 !important;
            --color: var(--text-black) !important;
            .button-inner {
                ion-icon {
                    //font-size: 1.5rem;
                    padding-left: 00px;
                    color: var(--text-black);
                }
            }
            ion-back-button {
                --color: var(--text-black) !important;
                color: var(--text-black) !important;
            }
            ion-menu-button {
                --color: var(--text-black) !important;
                //--padding-start: 0 !important;
                --padding-end: 0 !important;
                font-size: 1.8rem !important;
                &.ios {
                    font-size: 2rem !important;
                }
            }
            ion-back-button {
                .button-native {
                    padding: 0 !important;
                }
            }
            &.ios {
                padding: 0 10px !important;
            }
        }
        ion-title {
            color: var(--text-black);
            text-align: justify;
            font-size: 1.1rem;
            font-weight: 500;
            overflow: visible !important;
            line-height: 60px;
            position: absolute !important;
            left: 0;
            top: -2px;
            width: 100%;
            text-align: center;
            padding: 0 15px !important;
        }
    }
    &.bg_transparent {
        //position: absolute;
        z-index: 999;
        width: 100%;
        height: auto;
        ion-toolbar {
            --background: transparent;
            --ion-color-base: transparent !important;
        }
    }
}

.button {
    &.btn {
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.6px !important;
        height: 50px;
        --background: var(--primary);
        text-transform: none;
        color: var(--white);
        margin: 0;
        --box-shadow: none;
        ion-icon {
            font-size: 1.4rem;
        }
        &:hover:not(.disable-hover) {
            --background: var(--primary);
        }
        &.button-outline {
            --background: var(--transparent);
            color: var(--white);
            --border-color: var(--primary);
            --border-width: 1px;
            &:hover:not(.disable-hover) {
                --background: var(--transparent);
            }
        }
        &.button-round {
            --border-radius: 50px !important;
        }
        &.button-block {
            --border-radius: 8px !important;
        }
    }
}

.scroll-x {
    overflow: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}

.animate__animated {
    --animate-duration: 0s;
    &:nth-child(1) {
        --animate-duration: 0.15s;
    }
    &:nth-child(2) {
        --animate-duration: 0.2s;
    }
    &:nth-child(3) {
        --animate-duration: 0.25s;
    }
    &:nth-child(4) {
        --animate-duration: 0.3s;
    }
    &:nth-child(5) {
        --animate-duration: 0.35s;
    }
    &:nth-child(6) {
        --animate-duration: 0.4s;
    }
    &:nth-child(7) {
        --animate-duration: 0.45s;
    }
    &:nth-child(8) {
        --animate-duration: 0.5s;
    }
    &:nth-child(9) {
        --animate-duration: 0.55s;
    }
    &:nth-child(10) {
        --animate-duration: 0.6s;
    }
    &:nth-child(11) {
        --animate-duration: 0.65s;
    }
    &:nth-child(12) {
        --animate-duration: 0.7s;
    }
    &:nth-child(13) {
        --animate-duration: 0.5s;
    }
    &:nth-child(14) {
        --animate-duration: 0.5s;
    }
    &:nth-child(15) {
        --animate-duration: 0.5s;
    }
}

ion-list {
    margin: 0;
    background: none;
    padding: 0;
    padding-top: 4px;
    h2 {
        margin: 0;
        color: #595959;
        padding: 12px 18px 15px 18px;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0;
        span {
            color: var(--primary);
        }
    }
    ion-item {
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent) !important;
        background: var(--white);
        padding: 20px 18px;
        margin-bottom: 4px;
        .item_inner {
            width: 100%;
        }
        &.delivery_at {
            .item_inner {
                align-items: flex-start;
                width: 100%;
                ion-icon {
                    color: var(--primary);
                    font-size: 1.6rem;
                    min-width: 39px;
                }
                .address {
                    h3 {
                        color: var(--text-black);
                        margin: 0;
                        font-size: 1rem;
                        letter-spacing: .5px;
                        padding-bottom: 9px;
                    }
                    p {
                        margin: 0;
                        color: var(--text-light);
                        font-size: 0.9rem;
                        font-weight: 500;
                    }
                }
            }
        }
        &.upload_prescription {
            padding: 18px;
            .item_inner {
                .item_img {
                    min-width: 18px;
                    width: 18px;
                    margin-right: 20px;
                    img {
                        display: block;
                    }
                }
                h2 {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 600;
                    color: var(--text-black);
                    padding: 0;
                    .icon_box {
                        ion-icon {
                            color: var(--primary);
                            font-size: 1.35rem;
                            min-width: 28px;
                        }
                    }
                }
            }
        }
    }
    .item_list {
        margin-bottom: 5px;
        ion-item {
            margin-bottom: 0;
            padding-top: 9px;
            padding-bottom: 9px;
            .item_inner {
                h3 {
                    margin: 0;
                    color: var(--text-light);
                    font-size: 1rem;
                    letter-spacing: 0;
                    font-weight: 500;
                    padding-bottom: 6px;
                    img {
                        min-width: 15px;
                        width: 15px;
                        margin-left: 20px;
                        display: block;
                    }
                }
                h4 {
                    margin: 0;
                    color: var(--text-light2);
                    font-size: .85rem;
                    font-weight: 400;
                    span {
                        color: var(--text-black);
                        font-size: .98rem;
                        font-weight: 500;
                    }
                }
            }
            &:first-child {
                padding-top: 20px
            }
            &:last-child {
                padding-bottom: 20px
            }
        }
    }
    .payment_details {
        margin-bottom: 4px;
        ion-item {
            margin-bottom: 0;
            padding-top: 9px;
            padding-bottom: 9px;
            .item_inner {
                h3 {
                    margin: 0;
                    color: var(--text-light);
                    font-size: .95rem;
                    letter-spacing: 0;
                    font-weight: 500;
                    span {
                        font-size: 1.1rem;
                        font-weight: 500;
                        color: var(--text-dark);
                    }
                }
            }
            &:first-child {
                padding-top: 20px
            }
            &:last-child {
                padding-bottom: 20px
            }
            &.amount_payable {
                .item_inner {
                    h3 {
                        color: var(--text-black);
                        font-size: 1.1rem;
                        letter-spacing: 0;
                        font-weight: 600;
                        span {
                            color: var(--text-black);
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

ion-footer {
    --animate-duration: .4s !important;
}