<ion-header class="bg_transparent">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        icon="chevron-back-outline"
        defaultHref="home"
      ></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg_color" fullscreen>
  <div class="banner">
    <div class="logo_box">
      <img src="assets/images/Doctoworld/logo.png" />
    </div>
    <div class="welcome_text ion-text-center">
      <h2 class="animate__animated animate__fadeInUp">
        {{'welcome' | translate}}
      </h2>
      <h3 class="animate__animated animate__fadeInUp">
        {{'please_enter_your_mobile_number' | translate}}
      </h3>
    </div>

    <div class="form">
      <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp" lines="none">
          <ion-label position="fixed"
            >{{'mobile_number' | translate}}</ion-label
          >
          <ion-input class="ion-text-end" type="number" value=""></ion-input>
        </ion-item>
        <ion-button
          size="large"
          shape="block"
          class="btn animate__animated animate__fadeInUp"
          (click)="tabs()"
          >{{'continue' | translate}}</ion-button
        >
      </ion-list>
    </div>
  </div>
  <div class="quick_signin animate__animated animate__fadeInUp">
    <h4 class="ion-text-center">{{'or_quick_continue_withh' | translate}}</h4>
    <ion-row>
      <ion-col size="6">
        <ion-button
          size="large"
          shape="block"
          class="btn facebook"
          (click)="tabs()"
        >
          <img slot="start" src="assets/images/Doctoworld/fb.png" />
          {{'facebook' | translate}}
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button
          size="large"
          shape="block"
          class="btn gmail"
          (click)="tabs()"
        >
          <img slot="start" src="assets/images/Doctoworld/google.png" />
          {{'gmail' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
