<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="DoctoworldHome">
            <div class="img_box">
                <img src="assets/images/Doctoworld/ic_medicine.png" class="before">
                <img src="assets/images/Doctoworld/ic_medicineact.png" class="after">
            </div>
            <ion-label>{{'medicine' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="DoctoworldDoctors">
            <div class="img_box">
                <img src="assets/images/Doctoworld/ic_doctorsf.png" class="before">
                <img src="assets/images/Doctoworld/ic_doctorsact.png" class="after">
            </div>
            <ion-label>{{'doctors' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="DoctoworldHospitals">
            <div class="img_box">
                <img src="assets/images/Doctoworld/ic_hospitals.png" class="before">
                <img src="assets/images/Doctoworld/ic_hospitalsact.png" class="after">
            </div>
            <ion-label>{{'hospitals' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="DoctoworldMyAppointments">
            <div class="img_box">
                <img src="assets/images/Doctoworld/ic_appointments.png" class="before">
                <img src="assets/images/Doctoworld/ic_appointmentsact.png" class="after">
            </div>
            <ion-label>{{'appts' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="DoctoworldAccount">
            <div class="img_box">
                <img src="assets/images/Doctoworld/ic_more.png" class="before">
                <img src="assets/images/Doctoworld/ic_moreact.png" class="after">
            </div>
            <ion-label>{{'more' | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>